*{
    margin: 0;
    padding: 0;

}
 
.overlay-login-container {
  padding: 200px 120px;
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  /* не делай оверлей через трансформ */
  transform: translate(-50%, -50%); 
  text-align: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.login-form {
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.login-form_header{}


.login-form_input{
}

.login-from_colour-selector{

}

.login-from_submit{

}
