
.login-form-container{
  display: flex;
  /* можно разместить по центру */
  min-height: 90vh;
  width: auto;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.login-form-content{
  display: flex;
  flex-direction: column;
  max-width: 384px;
  gap: 12px;
}

.login-form-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1a1a1a;
  font-size: 24px;
  margin-bottom: 16px;
  font-weight: bold;
}


.login-form__input-login{
  display: flex;
  width: 384px;
  height: 52px;
  padding: 16px 18px;
  box-sizing: border-box;
  border: solid var(--gray-300, #D6D6D6);
  border-radius: 10px;
}

.login-form__color-selector{
  display: flex;
  width: 384px;
  height: 52px;
  padding: 16px 18px;
  box-sizing: border-box;
  border: solid var(--gray-300, #D6D6D6);
  border-radius: 10px;
}

.login-form__submit{
  display: flex;
  width: 384px;
  height: 52px;
  padding: 16px 18px;
  box-sizing: border-box;
  justify-content: center;
  background-color: rgb(29, 155, 240);;
  color: white;
  padding: 1px 6px;
  align-items: center;
}

.login-form{
  display: flex;
  gap: 12px;
}

.login-form_error{
  color: #d14214;
}