.tweets-feed-page-container {
  display: flex;
  flex-direction: column;
}

.tweets-post-form-wrapper{
  display: flex;
  justify-content: center;
  align-items: stretch;
  border: 0 solid black;
  flex-basis: auto;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  list-style: none;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}

.tweets-post-form-container{
  display: flex;
  flex-direction: row;
  width: 600px;
  height: auto;
  padding: 4px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tweets-post-avatar{
  width: 40px;
  height: 40px;
  margin-top: 12px;
  margin-right: 8px;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.tweets-post-form{
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.tweets-post-form__input{
  margin-top: 12px;
  height: 40px;
  width: 100%;
  padding: 0 12px;
  display: flex;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  border: none;
}

.tweets-post-form__input:focus{
  outline: 0;
}



.tweets-post-form_button-container{
  display: flex;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  height: 48px;
  justify-content: flex-end;
  align-items: center;
}

.tweets-post-form__button{
  display: flex;
  width: 100px;
  height: 36px;
  margin-left: 12px;
  padding: 0px 16px;
  border: 1px;
  margin-left: 12px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  background-color: rgb(15, 20, 25);
  border-color: rgba(0, 0, 0, 0);
  opacity: 0.5;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  min-width: 36px;
  min-height: 36px;
}

.tweets-feed{
  width: 600px;
}

.tweets-page-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 24px;
}

.tweets-page-content{
  display: flex;
  width: 100%;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
  gap: 8px;

}