#root {
  width: 100%;
}

.tweets-page-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: 24px;
}

.tweets-page-content{
  display: flex;
  width: 100%;
  max-width: 600px;
  flex-direction: column;
  align-items: center;
  gap: 8px;

}

.tweets-post-form-wrapper{
}

.tweets-post-form{
}

.tweets-post-form__input{}

.tweets-post-form__button{}

.tweets-feed{}

.login-header{
  position: fixed;
  bottom: 24px;
  left: 24px;
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  z-index: 10;
  gap: 8px;
  color: white;
  backdrop-filter: blur(4px);
}

.login-header__avatar{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.login-header__text {
  display: flex;
  justify-content: flex-start;
  gap: 4px;
  margin-left: 8px;
  align-items: flex-start;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}
