.tweet-single-page{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.tweet-single-page_back-button{
  display: flex;
  position: absolute;
  margin: 12px 16px;
  color: white;
  background-color: rgb(29, 155, 240);
}

.link-to-single-tweet{
    color: inherit;
}

.link-to-single-tweet:hover {
    color: inherit;
}

.tweet-single-page_back-button {
    display: flex;
    align-items: flex-start;
}