.tweet-single-page{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.link-to-single-tweet{
    color: inherit;
}

.link-to-single-tweet:hover {
    color: inherit;
}